<div class="row">
	<div class="col-sm-8 col-sm-push-2 col-md-4 col-md-push-4">
		<br><br>
		<form action="" class="panel panel-default" (submit)="submitForgotPass(inputEmail.value)">
			<div class="panel-heading">
				<h3>Forgot Password</h3>
			</div>
			<div class="panel-body">
				<p [ngClass]="{'has-error' : errForgotPass}">
					<span class="show clearfix">
						<small class="pull-right"><em>required</em></small>
						Email
					</span>
					<input type="text" class="form-control input-sm" #inputEmail>
					<small *ngIf="errForgotPass" class="text-danger">{{errForgotPass}}</small>
				</p> 
				<div *ngIf="msgForgotPass" class="alert alert-success">{{msgForgotPass}}</div>
				<p>
					<input type="submit" value="Reset Password" class="btn btn-primary btn-block">
				</p>
			</div>
		</form>
		<p class="text-center">
			<a href="#" routerLink="/login">Login</a>
		</p>
	</div>
</div>